.App-header {
  background-color: #d0dcf4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: rgb(50, 50, 50);
}
